/* Styling for input, select, and button elements */
input, select, button {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin-top: 5px;
}

.query-input-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: inherit;
  }
  
  .quick-add-question-container {
    flex: 1;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end; /* Push content to the bottom */
    height: 100%; /* Ensures it fills available space */
    margin-top: auto; /* Pushes it downward */
  }
  
  .csv-upload-section {
    flex: 1;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Push content to the bottom */
    height: 100%; /* Ensures it fills available space */
  }

  .csv-upload-file {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .csv-upload-file input {
      width: 100%;
      max-width: 400px;
      padding: 10px;
      font-size: 1rem;
      cursor: pointer;
  }

  #csvFileInput {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: transform 0.8s;
  }
  
  #csvFileInput:hover {
    transform: scale(1.02);
  }

  .quick-add-question {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto; /* Pushes it downward */
  }
  
  #quickAddQuestion {
    width: 50%;
  }

  .question-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .question-submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.8s ease;
    width: 25%;
  }
  
  .question-submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .question-submit-button:disabled {
    background-color: #444;
    color: #888;
    cursor: not-allowed;
}