/* CSS START FOR HELP-PAGE */

/* Styles for the help page container */
.help-page {
  margin-bottom: 60px;  
}

/* Remove default list styling for help list */
.help-list {
  list-style: none;
}

/* Styles for the help page section */
#helpPage {
  /* Center align text within the help page section */
  text-align: center;
  
  /* Apply a radial gradient background to the help page section */
  background: radial-gradient(circle at top left, #292929, #1e1e1e);
  
  /* Add a shadow effect to the help page section */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  
  /* Add padding inside the help page section */
  padding: 30px;
  
  /* Set the height of the help page section to 100% */
  height: 100%;
  
  /* Ensure padding is included in the element's total width and height */
  box-sizing: border-box;
}

/* CSS FOR HELP PAGE END */

/* CSS FOR ADD QUERY PAGE START */

#csvFileInput {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 4px;
  width: 20%;
  margin-top: 5px;
  cursor: pointer;
  transition: transform 0.8s;
}

#csvFileInput:hover {
  transform: scale(1.02);
}

/* CSS FOR ADD QUERY PAGE END */
